@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<head>
    <title>Om os - Enterprise Rent a Car</title>
</head>
<body>
    <header>
        <h1>Velkommen til Enterprise Rent a Car</h1>
    </header>

    <nav>
        <ul>
            <li><a href="Index">Forside</a></li>
           
        </ul>
    </nav>

    <section>
        <h2>Om Enterprise Rent a Car</h2>
        <p>
            Enterprise Rent a Car er et førende biludlejningsfirma med global tilstedeværelse. Med over 10 års erfaring i branchen har vi etableret os som et betroet navn inden for pålidelige og prisvenlige biludlejningstjenester.
        </p>
        <p>
            Vores mission er at gøre transport nemt og bekvemt for vores kunder. Uanset om du har brug for en bil til en forretningsrejse, ferie eller et andet formål, har vi et bredt udvalg af køretøjer, der passer til dine behov. Fra små biler til luksussedaner og SUV'er tilbyder vi en alsidig flåde af velholdte og komfortable køretøjer.
        </p>
        <p>
            Hos Enterprise Rent a Car prioriterer vi kundetilfredshed. Vores dedikerede team af professionelle er forpligtet til at levere enestående service og sikre en problemfri udlejningsoplevelse. Vi stræber efter at overgå vores kunders forventninger ved at yde personlig opmærksomhed og imødekomme deres specifikke krav.
        </p>
        <p>
            Vi forstår vigtigheden af bekvemmelighed, hvilket er grunden til, at vi tilbyder fleksible udlejningsmuligheder og bekvemme afhentnings- og afleveringssteder. Med flere afdelinger i forskellige byer kan du nemt finde os, uanset hvor du befinder dig.
        </p>
        <p>
            Som et samfundsansvarligt firma prioriterer vi også bæredygtighed. Vi arbejder kontinuerligt på at reducere vores miljømæssige påvirkning ved at implementere miljøvenlige praksisser og tilbyde hybrid- og elbiler som en del af vores flåde.
        </p>
        <p>
            Tak fordi du valgte Enterprise Rent a Car. Vi ser frem til at betjene dig og give dig en mindeværdig biludlejningsoplevelse.
        </p>
    </section>

    <footer>
        <p>&copy; 2023 Enterprise Rent a Car. Alle rettigheder forbeholdes. </p>
    </footer>
   </body>  