@page
@model EnterpriseCarDealership.Pages.ManagementModel
@{
}
<a asp-page="/CRUDMedarbejder/IndexMedarbejder" class="button">Go to Medarbejder Page</a>
<a asp-page="/CRUDManager/IndexManager" class="button">Go to Manager Page</a>
<a asp-page="/CRUDCar/IndexCar" class="button">Go to Car Page</a>
<a asp-page="/CRUDBike/IndexBike" class="button">Go to Bike Page</a>
<a asp-page="/CRUDBikeBooking/IndexBikeBooking" class="button">Go to Bike Booking Page</a>
<a asp-page="/CRUDCarBooking/IndexCarBooking" class="button">Go to Car Booking Page</a>
<a asp-page="/CRUDBike/IndexBike" class="button">Go to Bike Page</a>