@page
@model EnterpriseCarDealership.Pages.CRUDBikeBooking.BikePaymentModel
@{
}
<h1>Payment</h1>

<p>Bike ID: @Model.bikebooking.BikeId</p>
<p>Booking ID: @Model.bikebooking.Id</p>

@if (Model.TotalPrice > 0)
{
    <p>Total price: @Model.TotalPrice</p>
}
else
{
    <p>No payment calculation available.</p>
}
<form asp-page-handler="Back" class="form-horizontal" method="post">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Index</button>
        </div>
    </div>
</form>